apiVersion: v1
kind: Service
metadata:
  name: redpanda
  namespace: polyhunter-stage1
spec:
  selector:
    app: redpanda
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
    - name: pandaproxy
      port: 8082
      targetPort: 8082
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redpanda
  namespace: polyhunter-stage1
spec:
  serviceName: redpanda
  replicas: 1
  selector:
    matchLabels:
      app: redpanda
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
        - name: redpanda
          image: redpandadata/redpanda:v24.2.10
          args:
            - redpanda
            - start
            - --overprovisioned
            - --smp=1
            - --memory=1G
            - --reserve-memory=0M
            - --check=false
            - --node-id=0
            - --kafka-addr=PLAINTEXT://0.0.0.0:9092
            - --advertise-kafka-addr=PLAINTEXT://redpanda:9092
            - --pandaproxy-addr=0.0.0.0:8082
            - --advertise-pandaproxy-addr=redpanda:8082
          ports:
            - containerPort: 9092
            - containerPort: 8082
          volumeMounts:
            - name: redpandadata
              mountPath: /var/lib/redpanda/data
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
  volumeClaimTemplates:
    - metadata:
        name: redpandadata
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 100Gi
